/* Same general styles as before */

body {
    /* Yousuf Hossain Ikbal - 2021985 */
    font-family: 'Merriweather', serif;
    background-color: #eee; /* Light background */
}

header {
    text-align: center;
    padding: 30px;
    background-color: #444;
    color: #fff;
}

main {
    display: grid; /* Arrange services in a grid */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
a {text-decoration: none;
}

.service {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-image {
    width: 100%;
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
}
