/* style.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

/* Yousuf Hossain Ikbal - 2021985 */
/* Used Display Flex in this code */
header {
  text-align: center;
  padding: 30px;
  background-color: #333;
  color: #fff;
}

img {
  max-width: 200px; /* Adjust as needed */
  margin: 10px auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 50vh;
  background: #2192ff;
  **display: flex;** /* Added display: flex; */
  align-items: center;
  justify-content: center;
}

nav {
  background: #fff;
  border-radius: 9px;
  padding: 3px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

nav ul li {
  display: inline-block;
  list-style: none;
  font-size: 2rem;
  padding: 0 10px;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
  color: #333;
}

a {
  text-decoration: none;
}

nav ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: #0a1a28;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}
